# Desconsiderar arquivos gerados
backend/node_modules/
backend/dist/
backend/build/
frontend/node_modules/

# Desconsiderar arquivos de configuração locais
*.env
.vscode/

# Desconsiderar arquivos de cache
npm-cache/

# Desconsiderar arquivos de teste
tests/
__tests__/

# Desconsiderar arquivos de log
*.log

# Desconsiderar arquivos de senhas
generateHash.ts