# Desconsiderar arquivos gerados
node_modules/
dist/
build/

# Desconsiderar arquivos de configuração locais
*.env
.vscode/

# Desconsiderar arquivos de cache
npm-cache/

# Desconsiderar arquivos de teste
tests/
__tests__/

# Desconsiderar arquivos de log
*.log

# Desconsiderar arquivos de senhas
generateHash.ts